@model IEnumerable<Deq.Demo.Portal.Web.Models.DepartmentContact>

@{
    ViewData["Title"] = "Index";
}

<h1>Portal</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartmentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactName)
            </td>
        </tr>
}
    </tbody>
</table>
